.postcard {
    position: relative;

    &-title {
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: $margin;
    }

    p {
        opacity: 0.6;
        margin: 0;
    }

    &-time {
        display: inline-block;
        margin-top: $margin-sm;
        font-size: 0.8rem;
    }

    &:first-child {
        @include cols(3);
        @include rows(2);

        .postcard-image {
            height: 100%;
        }

        svg {
            height: 100%;
        }

        .postcard-data {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
    }
}

.postcards {
    display: grid;
    grid-template-columns: rpt(4, 1fr);

}